{% extends 'base.html' %}

{% block content %}
    <h1>Clientes</h1>

    <a href="{% url 'customer:customer-create' %}">
        <button type="button" class="btn btn-success" style="float: right; margin-bottom: 2rem">Adicionar</button>
    </a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Telefone</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customer_list %}
                <tr>
                    <td><a href="{{ customer.get_absolute_url }}">{{ customer.first_name }}</a></td>
                    <td>{{ customer.city }}</td>
                    <td>({{ customer.area_code }}) {{ customer.phone_number }}</td>
                    <td>{{ customer.email }}</td>
                    <td><button type="button" class="btn btn-outline-danger">Excluir</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}